@model IEnumerable<Oesia.Models.Subtask>
@inject Oesia.Services.OesiaServices Services

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*<div class="btnsSubtasks">
    <button type="button" class="playBtn">Play</button>
    <button type="button" class="pauseBtn">Pause</button>
    <button type="button" class="stopBtn">Stop</button>
    <button type="button" class="recordBtn">Record</button>
</div>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubtaskId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElapsedHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PendingHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubtaskId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Services.GetNameAndSurnamesDBFromId(item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimatedHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ElapsedHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PendingHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observations)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    <form asp-action="Play" method="post">
                        <input type="submit" value="&#9654;"/>
                        <input type="hidden" name="id" value="@item.Id" />
                    </form>
                    <form asp-action="Pause" method="post">
                        <input type="submit" value="&#10074;&#10074;" />
                        <input type="hidden" name="id" value="@item.Id" />
                    </form>
                    <form asp-action="Stop" method="post">
                        <input type="submit" value="&#9726;" />
                        <input type="hidden" name="id" value="@item.Id" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
