@model IEnumerable<Oesia.Models.Task>
@inject Oesia.Services.OesiaServices Services

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Criticality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElapsedHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PendingHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskId)
                </td>
                <td>
                    @Services.GetNameAndSurnamesDBFromId(item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Criticality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimatedStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimatedEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RealStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RealEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimatedHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ElapsedHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PendingHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
